.video_container {
  display: flex;
  justify-content: center;
  /* background: rgb(22, 24, 31); */

}

.video_Card {
  border: 0px solid gold;
  width: 100%;
  height: 100%;
  /* background: rgb(22, 24, 31); */

}